body {
  background-color: rgba(112, 110, 110, 0.719);
}
/* navbar  */
nav ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  background-color: beige;
}
textarea {
  background-color: beige;
}

@media screen and (max-width: 660px) {
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
